<app-navbar></app-navbar> <br /><br /><br />

<div class="container mt-5 mb-5"  *ngIf="this.service.PrductDetail[0]">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img
              [src]="this.service.bigImage"
              id="main_product_image"
              width="350"
            />
          </div>
          <div class="thumbnail_images">
            <ul id="thumbnail">
              <li  *ngIf="this.service.PrductDetail[0].image">
                <img
                (click)="this.service.bigImage=this.service.PrductDetail[0].image"
                  [src]="this.service.PrductDetail[0].image"
                  width="70"
                />
              </li>
              <li *ngIf="this.service.PrductDetail[0].image2">
                <img
                  (click)="this.service.bigImage=this.service.PrductDetail[0].image2"
                  [src]="this.service.PrductDetail[0].image2"
                  width="70"
                />
              </li>
              <li *ngIf="this.service.PrductDetail[0].image3">
                <img
                (click)="this.service.bigImage=this.service.PrductDetail[0].image3"
                [src]="this.service.PrductDetail[0].image3"
                width="70"
              />
              </li>
              <li *ngIf="this.service.PrductDetail[0].image4">
                <img
                (click)="this.service.bigImage=this.service.PrductDetail[0].image4"
                [src]="this.service.PrductDetail[0].image4"
                width="70"
              />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <br><br>
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{ this.service.PrductDetail[0].name}}</h3>
          </div>
          <div class="mt-2 pr-3 content">
            <p>
            {{ this.service.PrductDetail[0].description}}
            </p>
          </div>
          <h3>${{ this.service.PrductDetail[0].price}}</h3>
          <div class="ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row">
              <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <span>441 reviews</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
