
<div class="container-md mt-5">
  <h2 style="text-align: center;">Most Popular Items
  </h2>

  <ul class="nav nav-tabs justify-content-center " id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="Chair-tab"  data-bs-toggle="tab"
     data-bs-target="#Chair" type="button" role="tab" aria-controls="home"
      aria-selected="true">Chair</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="Sofa-tab"  data-bs-toggle="tab"
     data-bs-target="#Sofa" type="button" role="tab" aria-controls="home"
      aria-selected="true">Sofa</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link  " id="Lamp-tab" data-bs-toggle="tab"
     data-bs-target="#Lamp" type="button" role="tab"aria-controls="home"
     aria-selected="true">Lamp</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link  " id="Table-tab" data-bs-toggle="tab"
     data-bs-target="#Table" type="button" role="tab"aria-controls="home"
     aria-selected="true">Table</button>

  </li>
  <li class="nav-item">
    <button class="nav-link  " id="Monitor-tab" data-bs-toggle="tab"
     data-bs-target="#Monitor" type="button" role="tab"aria-controls="home"
     aria-selected="true">Monitor</button>

  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="Chair" role="tabpanel" aria-labelledby="Chair-tab">
    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-5 ">
      <div class="col wrapper">
        <div class="col">
        <div class="box1 border mb-4">
          <img src="assets/img/products/big-product1.webp" class="d-block w-100" alt="...">



          <div class="text-center fs-6 mt-1">
            <h6>Fashion Chair</h6>
        <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
        <div class=" invisible mb-2">
          <button type="button" class="btn btn-sm btn-danger">Danger</button>
        </div>
        </div>

          </div>

      <div class="box2 border mb-4">
        <div class="product-items" style="color: green; z-index: -1; position: relative;">
          <img src="assets/img/products/big-product2.webp" class="d-block w-100" alt="...">
          <div class="position-absolute shop-list end-50 translate-middle-y">
<ul style="overflow: hidden;" class=" d-flex  text-center ml-5 list-unstyled">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>

</ul>
          </div>

        </div>


      <div class="text-center fs-6 mt-1">
          <h6>Fashion Chair2</h6>
      <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
      <div class="  mb-2">
        <button type="button" class="btn btn-sm btn-danger">Danger</button>
      </div>
      </div>

      </div>
      </div>
    </div>
      <div class="col wrapper">
        <div class="col">
        <div class="box1 border mb-4">
      <img src="assets/img/products/big-product3.webp" class="d-block w-100" alt="...">
      <div class="text-center fs-6 mt-1">
        <h6>Fashion Chair</h6>
    <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
    <div class="invisible mb-2">
      <button type="button" class="btn btn-sm btn-danger">Danger</button>
    </div>
    </div>
      </div>
      <div class="box2 border mb-4">
        <img src="assets/img/products/big-product4.webp" class="d-block w-100" alt="...">
        <div class="text-center fs-6 mt-1">
          <h6>Fashion Chair</h6>
      <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
      <div class="mb-2">
        <button type="button" class="btn btn-sm btn-danger">Danger</button>
      </div>
      </div>
        </div>
        </div>
      </div>
      <div class="col wrapper">
        <div class="col">
        <div class="box1 border mb-4">
          <img src="assets/img/products/product5.webp" class="d-block w-100" alt="...">
          <div class="text-center fs-6 mt-1">
            <h6>Fashion Chair</h6>
        <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
        <div class="invisible mb-2">
          <button type="button" class="btn btn-sm btn-danger">Danger</button>
        </div>
        </div>

          </div>

      <div class="box2 border mb-4">
      <img src="assets/img/products/product6.webp" class="d-block w-100" alt="...">
      <div class="text-center fs-6 mt-1">
        <h6>Fashion Chair</h6>
    <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
    <div class="mb-2">
      <button type="button" class="btn btn-sm btn-danger">Danger</button>
    </div>
    </div>

      </div>
      </div>
    </div>
    <div class="col wrapper">
      <div class="col">
      <div class="box1 border mb-4">
        <img src="assets/img/products/product7.webp" class="d-block w-100" alt="...">
        <div class="text-center fs-6 mt-1">
          <h6>Fashion Chair</h6>
      <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
      <div class="invisible mb-2">
        <button type="button" class="btn btn-sm btn-danger">Danger</button>
      </div>
      </div>

        </div>

    <div class="box2 border mb-4">
    <img src="assets/img/products/product8.webp" class="d-block w-100" alt="...">
    <div class="text-center fs-6 mt-1">
      <h6>Fashion Chair</h6>
  <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
  <div class="mb-2">
    <button type="button" class="btn btn-sm btn-danger">Danger</button>
  </div>
  </div>

    </div>
    </div>
  </div>
  <div class="col wrapper">
    <div class="col">
    <div class="box1 border mb-4">
      <img src="assets/img/products/product9.webp" class="d-block w-100" alt="...">
      <div class="text-center fs-6 mt-1">
        <h6>Fashion Chair</h6>
    <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
    <div class="invisible mb-2">
      <button type="button" class="btn btn-sm btn-danger">Danger</button>
    </div>
    </div>

      </div>

  <div class="box2 border mb-4">
  <img src="assets/img/products/product10.webp" class="d-block w-100" alt="...">
  <div class="text-center fs-6 mt-1">
    <h6>Fashion Chair</h6>
<p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
<div class="mb-2">
  <button type="button" class="btn btn-sm btn-danger">Danger</button>
</div>
</div>

  </div>
  </div>
</div>


      <div class="col wrapper">
        <div class="col">
        <div class="box1 border mb-4">
          <img src="assets/img/products/product11.webp" class="d-block w-100" alt="...">
          <div class="text-center fs-6 mt-1">
            <h6>Fashion Chair</h6>
        <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
        <div class="invisible mb-2">
          <button type="button" class="btn btn-sm btn-danger">Danger</button>
        </div>
        </div>
          </div>

      <div class="box2 border mb-4">
      <img src="assets/img/products/product12.webp" class="d-block w-100" alt="...">
      <div class="text-center fs-6 mt-1">
        <h6>Fashion Chair</h6>
    <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
    <div class="mb-2">
      <button type="button" class="btn btn-sm btn-danger">Danger</button>
    </div>
    </div>

      </div>
      </div>
    </div>
    <div class="col wrapper">
      <div class="col">
      <div class="box1 border mb-4">
        <img src="assets/img/products/big-product1.webp" class="d-block w-100" alt="...">
        <div class="text-center fs-6 mt-1">
          <h6>Fashion Chair</h6>
      <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
      <div class="invisible mb-2">
        <button type="button" class="btn btn-sm btn-danger">Danger</button>
      </div>
      </div>

        </div>

    <div class="box2 border mb-4">
    <img src="assets/img/products/big-product2.webp" class="d-block w-100" alt="...">
    <div class="text-center fs-6 mt-1">
      <h6>Fashion Chair</h6>
  <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
  <div class="mb-2">
    <button type="button" class="btn btn-sm btn-danger">Danger</button>
  </div>
  </div>
    </div>
    </div>
  </div>
  <div class="col wrapper">
    <div class="col">
    <div class="box1 border mb-4">
      <img src="assets/img/products/big-product1.webp" class="d-block w-100" alt="...">
      <div class="text-center fs-6 mt-1">
        <h6>Fashion Chair</h6>
    <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
    <div class="invisible mb-2">
      <button type="button" class="btn btn-sm btn-danger">Danger</button>
    </div>
    </div>
      </div>

  <div class="box2 border mb-4">
  <img src="assets/img/products/big-product2.webp" class="d-block w-100" alt="...">
  <div class="text-center fs-6 mt-1">
    <h6>Fashion Chair</h6>
<p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
<div class="mb-2">
  <button type="button" class="btn btn-sm btn-danger">Danger</button>
</div>
</div>

  </div>
  </div>
</div>
<div class="col wrapper">
  <div class="col">
  <div class="box1 border mb-4">
    <img src="assets/img/products/big-product1.webp" class="d-block w-100" alt="...">
    <div class="text-center fs-6 mt-1">
      <h6>Fashion Chair</h6>
  <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
  <div class="invisible mb-2">
    <button type="button" class="btn btn-sm btn-danger">Danger</button>
  </div>
  </div>

    </div>

<div class="box2 border mb-4">
<img src="assets/img/products/big-product2.webp" class="d-block w-100" alt="...">
<div class="text-center fs-6 mt-1">
  <h6>Fashion Chair</h6>
<p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
<div class="mb-2">
<button type="button" class="btn btn-sm btn-danger">Danger</button>
</div>
</div>

</div>
</div>
</div>
<div class="col wrapper">
  <div class="col">
  <div class="box1 border mb-4">
    <img src="assets/img/products/big-product1.webp" class="d-block w-100" alt="...">
    <div class="text-center fs-6 mt-1">
      <h6>Fashion Chair</h6>
  <p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
  <div class="invisible mb-2">
    <button type="button" class="btn btn-sm btn-danger">Danger</button>
  </div>
  </div>

    </div>

<div class="box2 border mb-4">
<img src="assets/img/products/big-product2.webp" class="d-block w-100" alt="...">
<div class="text-center fs-6 mt-1">
  <h6>Fashion Chair</h6>
<p style="color: red;">151.00$<del class="ms-2" style="color: gray;"> 250.00$</del></p>
<div class="mb-2">
<button type="button" class="btn btn-sm btn-danger">Danger</button>
</div>
</div>
</div>

</div>

</div>

    </div>

  <div class="tab-pane fade" id="Sofa" role="tabpanel" aria-labelledby="Sofa-tab">

  </div>
  <div class="tab-pane fade" id="Lamp" role="tabpanel" aria-labelledby="Lamp-tab">

  </div>
  <div class="tab-pane fade" id="Table" role="tabpanel" aria-labelledby="Table-tab">

  </div>
  <div class="tab-pane fade" id="Monitor" role="tabpanel" aria-labelledby="Monitor-tab">

  </div>

</div>
</div>
