
<div class="container-md mt-5">
  <h2 style="text-align: center;">Most Popular Items
  </h2>

  <ul class="nav nav-tabs justify-content-center " id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="Chair-tab"  data-bs-toggle="tab"
     data-bs-target="#Chair" type="button" role="tab" aria-controls="home"
      aria-selected="true">Chair</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="Sofa-tab"  data-bs-toggle="tab"
     data-bs-target="#Sofa" type="button" role="tab" aria-controls="home"
      aria-selected="true">Sofa</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link  " id="Lamp-tab" data-bs-toggle="tab"
     data-bs-target="#Lamp" type="button" role="tab"aria-controls="home"
     aria-selected="true">Lamp</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link  " id="Table-tab" data-bs-toggle="tab"
     data-bs-target="#Table" type="button" role="tab"aria-controls="home"
     aria-selected="true">Table</button>

  </li>
  <li class="nav-item">
    <button class="nav-link  " id="Monitor-tab" data-bs-toggle="tab"
     data-bs-target="#Monitor" type="button" role="tab"aria-controls="home"
     aria-selected="true">Monitor</button>

  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="Chair" role="tabpanel" aria-labelledby="Chair-tab">
    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-5 ">
      <div class="text-center" *ngIf="this.service.errors">  <h4 style="color: red;"> Database Error <br> . Please Contact Our Support</h4>
      </div>
      <div class="col wrapper" *ngFor="let item of chairs">
        <div class="col">
        <div class="box1 border mb-4">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
                   <img [src]="item.image"class="d-block w-100" alt="..."> </a>

          <div class="text-center fs-6 mt-1">
            <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
        <div class=" invisible mb-2">
          <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
        </div>
        </div>
          </div>

      <div class="box2 border mb-4">
        <div class="product-items" style="position: relative;">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
            <img [src]="item.image2"class="d-block w-100" alt="..."> </a>

          <div class="position-absolute ms-2 shop-list end-0 translate-middle-y">
<ul style="overflow: hidden; z-index: -10;" class=" d-flex  text-center ms-2 list-unstyled ">
  <li class="me-3"><a href="#" class="fa-solid fa-heart"></a></li>
  <li class="ms-2 me-3"><a href="#" class="fa-solid fa-eye"></a></li>
  <li class="ms-2 me-4"><a href="#" class="fa-solid fa-arrows-turn-to-dots"></a></li>

</ul>    </div>
        </div>
      <div class="text-center fs-6 mt-1">
        <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
      <div class="  mb-2">
        <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
      </div>
      </div>

      </div>
      </div>
    </div>

    </div>
  </div>
  <div class="tab-pane fade" id="Sofa" role="tabpanel" aria-labelledby="Sofa-tab">
    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-5 ">
      <div class="text-center" *ngIf="this.service.errors">  <h4 style="color: red;"> Database Error <br> . Please Contact Our Support</h4>
      </div>
      <div class="col wrapper" *ngFor="let item of sofas">
        <div class="col">
        <div class="box1 border mb-4">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
                   <img [src]="item.image"class="d-block w-100" alt="..."> </a>

          <div class="text-center fs-6 mt-1">
            <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
        <div class=" invisible mb-2">
          <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
        </div>
        </div>
          </div>

      <div class="box2 border mb-4">
        <div class="product-items" style="position: relative;">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
            <img [src]="item.image2"class="d-block w-100" alt="..."> </a>

          <div class="position-absolute ms-2 shop-list end-0 translate-middle-y">
<ul style="overflow: hidden; z-index: -10;" class=" d-flex  text-center ms-2 list-unstyled ">
  <li class="me-3"><a href="#" class="fa-solid fa-heart"></a></li>
  <li class="ms-2 me-3"><a href="#" class="fa-solid fa-eye"></a></li>
  <li class="ms-2 me-4"><a href="#" class="fa-solid fa-arrows-turn-to-dots"></a></li>

</ul>    </div>
        </div>
      <div class="text-center fs-6 mt-1">
        <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
      <div class="  mb-2">
        <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
      </div>
      </div>

      </div>
      </div>
    </div>

    </div>
  </div>
  <div class="tab-pane fade" id="Lamp" role="tabpanel" aria-labelledby="Lamp-tab">
    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-5 ">
      <div class="text-center" *ngIf="this.service.errors">  <h4 style="color: red;"> Database Error <br> . Please Contact Our Support</h4>
      </div>
      <div class="col wrapper" *ngFor="let item of lamps">
        <div class="col">
        <div class="box1 border mb-4">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
                   <img [src]="item.image"class="d-block w-100" alt="..."> </a>

          <div class="text-center fs-6 mt-1">
            <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
        <div class=" invisible mb-2">
          <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
        </div>
        </div>
          </div>

      <div class="box2 border mb-4">
        <div class="product-items" style="position: relative;">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
            <img [src]="item.image2"class="d-block w-100" alt="..."> </a>

          <div class="position-absolute ms-2 shop-list end-0 translate-middle-y">
<ul style="overflow: hidden; z-index: -10;" class=" d-flex  text-center ms-2 list-unstyled ">
  <li class="me-3"><a href="#" class="fa-solid fa-heart"></a></li>
  <li class="ms-2 me-3"><a href="#" class="fa-solid fa-eye"></a></li>
  <li class="ms-2 me-4"><a href="#" class="fa-solid fa-arrows-turn-to-dots"></a></li>

</ul>    </div>
        </div>
      <div class="text-center fs-6 mt-1">
        <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
      <div class="  mb-2">
        <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
      </div>
      </div>

      </div>
      </div>
    </div>

    </div>
  </div>
  <div class="tab-pane fade" id="Table" role="tabpanel" aria-labelledby="Table-tab">
    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-5 ">
      <div class="text-center" *ngIf="this.service.errors">  <h4 style="color: red;"> Database Error <br> . Please Contact Our Support</h4>
      </div>
      <div class="col wrapper" *ngFor="let item of tables">
        <div class="col">
        <div class="box1 border mb-4">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
                   <img [src]="item.image"class="d-block w-100" alt="..."> </a>

          <div class="text-center fs-6 mt-1">
            <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
        <div class=" invisible mb-2">
          <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
        </div>
        </div>
          </div>

      <div class="box2 border mb-4">
        <div class="product-items" style="position: relative;">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
            <img [src]="item.image2"class="d-block w-100" alt="..."> </a>

          <div class="position-absolute ms-2 shop-list end-0 translate-middle-y">
<ul style="overflow: hidden; z-index: -10;" class=" d-flex  text-center ms-2 list-unstyled ">
  <li class="me-3"><a href="#" class="fa-solid fa-heart"></a></li>
  <li class="ms-2 me-3"><a href="#" class="fa-solid fa-eye"></a></li>
  <li class="ms-2 me-4"><a href="#" class="fa-solid fa-arrows-turn-to-dots"></a></li>

</ul>    </div>
        </div>
      <div class="text-center fs-6 mt-1">
        <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
      <div class="  mb-2">
        <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
      </div>
      </div>

      </div>
      </div>
    </div>

    </div>
  </div>
  <div class="tab-pane fade" id="Monitor" role="tabpanel" aria-labelledby="Monitor-tab">
    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-5 ">
      <div class="text-center" *ngIf="this.service.errors">  <h4 style="color: red;"> Database Error <br> . Please Contact Our Support</h4>
      </div>
      <div class="col wrapper" *ngFor="let item of monitors">
        <div class="col">
        <div class="box1 border mb-4">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
                   <img [src]="item.image"class="d-block w-100" alt="..."> </a>

          <div class="text-center fs-6 mt-1">
            <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
        <div class=" invisible mb-2">
          <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
        </div>
        </div>
          </div>

      <div class="box2 border mb-4">
        <div class="product-items" style="position: relative;">
          <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
            <img [src]="item.image2"class="d-block w-100" alt="..."> </a>

          <div class="position-absolute ms-2 shop-list end-0 translate-middle-y">
<ul style="overflow: hidden; z-index: -10;" class=" d-flex  text-center ms-2 list-unstyled ">
  <li class="me-3"><a href="#" class="fa-solid fa-heart"></a></li>
  <li class="ms-2 me-3"><a href="#" class="fa-solid fa-eye"></a></li>
  <li class="ms-2 me-4"><a href="#" class="fa-solid fa-arrows-turn-to-dots"></a></li>

</ul>    </div>
        </div>
      <div class="text-center fs-6 mt-1">
        <h6>{{ item.name }}</h6>
        <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
      <div class="  mb-2">
        <button type="button" class="btn btn-sm btn-danger" routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">View</button>
      </div>
      </div>

      </div>
      </div>
    </div>

    </div>
  </div>

</div>
</div>
