<nav class="navbar navbar-expand-lg  fixed-top navbar-light " style="background-color: #fff;">
  <div class="container-fluid">
    <img class="navbar-brand me-5 ms-5" src="assets/img/logo/nav-log.webp"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-5">
   <!--    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Home One</a></li>
            <li><a class="dropdown-item" href="#">Home Two</a></li>
            <li><a class="dropdown-item" href="#">Home Three</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/All-Products">Shop</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>


      </ul>



      <div class="navbar-nav ms-auto">


          <div>
            <ul class=" list-unstyled me-lg-5 row">
              <ng-template *ngIf="isAuthenticated$ | async; then Logged; else notLogged">
        </ng-template>
              <ng-template #Logged>
                <li class="nav-item col  ms-3">
              <a routerLink="/profile"><i class="fa-solid fa-user"></i></a>
              </li>
              <li class="nav-item col  ms-3">
              <a routerLink="/my-cart"> <i class="fa-solid fa-cart-shopping"></i></a>
              </li>
              <li class="nav-item col  ms-3">
                <a  [routerLink]="[currentUrl]" (click)="openLogoutModal()">
                   <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
                </li>
              </ng-template>

              <ng-template #notLogged>
                <li class="nav-item col ">
              <a  [routerLink]="[currentUrl]" (click)="login()"> <i class="fa-solid fa-right-to-bracket"></i></a>
              </li>
   <li class="nav-item col  ">
                  <a href="#"> <i class="fa-solid fa-cart-shopping"></i></a>
                  </li>


              </ng-template>


            </ul>
    </div>
  </div>
    </div>
  </div>
</nav>
