.container {
  margin-top: 2px;
}/*
.tp-effect:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#333;
  z-index:-1 ;
  }
  .tp-effect{
    position: relative;
}
.tp-effect:after{
  height: 0;
  transition: height 0.5s;

}

.tp-effect:hover:after{
  height:  100%;
}*/

.dropdown:hover .dropdown-menu {
  display: block;

 margin-top: 0;
 }
