
<div class="container mt-5">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row row-cols-2">
    <div class="col  position-relative">
<a href="#" ><img src="assets/img/banner/banner1.webp" class="d-block w-100 zoom" alt="...">
</a>
     <h3 class="position-absolute bottom-50 end-0  translate-middle-x ">
  White Minimalist <br>
  Combo Sofa
</h3>
    </div>
    <div class="col  position-relative">
      <a href="#" ><img src="assets/img/banner/banner2.webp" class="d-block w-100 zoom" alt="...">
      </a>
          <h3 class="position-absolute bottom-50 end-50 ">
      White Minimalist <br>
      Combo Sofa
    </h3>
    </div>

  </div>

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row mt-5">
    <div class="col-6  position-relative">
      <a href="#" ><img src="assets/img/banner/banner3.webp" class="d-block w-100 zoom" alt="...">
      </a>
                <h3 class="position-absolute bottom-50 end-50 ">
      White Minimalist <br>
      Combo Sofa
    </h3>
    </div>
    <div class="col-6">

    <div class="col-lg-12 position-relative">
      <a href="#" ><img src="assets/img/banner/banner4.webp" class="d-block w-100 zoom" alt="...">
      </a>
            <h3 class="position-absolute top-0 start-0 ">
        White Minimalist <br>
        Combo Sofa
      </h3>
    </div>
    <div class="col-lg-12 mt-3 pt-2 position-relative">
      <a href="#" ><img src="assets/img/banner/banner5.webp" class="d-block w-100 zoom" alt="...">
      </a>
            <h3 class="position-absolute bottom-50 end-0  translate-middle-x ">
        White Minimalist <br>
        Combo Sofa
      </h3>
    </div>
    </div>
  </div>


  <!-- Columns are always 50% wide, on mobile and desktop -->

</div>
