<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active  position-relative" >
      <img src="assets/img/Sliders/home1-slider1.webp" class="d-block w-100" alt="...">

      <div class="position-absolute top-50  translate-left  m-4 translate-middle-y  d-none d-md-block"  >
        <p class="  text-white mb-15">Discover our best furniture collection from home</p>
        <h2 class="  text-white h1">Stylish Furniture <br>
            Bring Beauti</h2>
        <p class=" text-white  ">Great furniture can bring beauty at your home, So buy our popular <br>
            and stylish furniture. Now you get up to 100 % discount now.</p>
        <button class="btn btn-light" >Start to Buying</button>
    </div>

    </div>
    <div class="carousel-item   position-relative">
      <img src="assets/img/Sliders/home1-slider2.webp" class="d-block w-100" alt="...">
      <div class="  position-absolute top-50   end-0 translate-right  m-4 translate-middle-y d-none d-md-block"  >
        <p class="  text-white mb-15">Discover our best furniture collection from home</p>
        <h2 class="  text-white h1">Stylish Furniture <br>
            Bring Beauti</h2>
        <p class=" text-white  ">Great furniture can bring beauty at your home, So buy our popular <br>
            and stylish furniture. Now you get up to 100 % discount now.</p>
        <button class="btn btn-light" >Start to Buying</button>
    </div>
    </div>
    <div class="carousel-item   position-relative ">
      <img src="assets/img/Sliders/home1-slider3.webp" class="d-block w-100" alt="...">
      <div class=" position-absolute top-50  translate-left  m-4 translate-middle-y d-none d-md-block "  >
        <p class="  text-white mb-15">Discover our best furniture collection from home</p>
        <h2 class="  text-white h1">Stylish Furniture <br>
            Bring Beauti</h2>
        <p class=" text-white  ">Great furniture can bring beauty at your home, So buy our popular <br>
            and stylish furniture. Now you get up to 100 % discount now.</p>
        <button class="btn btn-light" >Start to Buying</button>
    </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
