<app-navbar></app-navbar>
<br>
<br><br>
<br>
<div class="container">
<div class="text-center" *ngIf="this.service.errors">  <h4 style="color: red;"> Database Error <br> . Please Contact Our Support</h4>
</div>
  <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2">
        <div class="col wrapper"*ngFor="let item of service.products">
          <div class="col" >
          <div class="box1 border mb-4">
            <a routerLink="/All-Products/{{item.id}}" (click)="this.service.getPrductDetails(item.id)">
                   <img [src]="item.image"class="d-block w-100" alt="..."> </a>
            <div class="text-center fs-6 mt-1">
              <h6>{{ item.name }}</h6>
          <p style="color: red;">{{ item.price }}$<del class="ms-2" style="color: gray;"> {{ item.oldPrice }}$</del></p>
          <div class=" mb-2">
            <button type="button" class="btn btn-sm btn-danger"  (click)="addToCart(item)">Add To Cart</button>
          </div>
          </div>
            </div>
        </div>
  </div>
  </div>
</div>
