<app-navbar></app-navbar>
<br>
<br>
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4 ">

        <!-- Collapsed content -->
        <ul class="nav btn-group-vertical mt-5 " id="myTab" role="tablist">
          <li class="nav-item w-100 active" role="presentation">
            <button class="btn  w-100" id="orders-tab"  routerLink="/profile">Back To Profile</button>
          </li>

        </ul>

        <!-- Collapsed content -->

        <!-- Collapse 2 -->
      </div>
    </div>
  </nav>
  <!-- Sidebar -->


</header>
<div class="tab-pane container ms-md-5 position-absolute start-50 translate-middle-x  " >
  <br>
  <br>
<div class="ms-md-5  w-100">
<div class="row ms-md-5 d-flex justify-content-center align-items-center">
<table class="table table-striped ms-md-5">
  <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Sum</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of this.service.orderDetails.userOrders">
      <th scope="row">{{order.qty}}</th>
      <td>{{order.productName}}</td>
      <td>{{order.price}}</td>
      <td>{{order.productSum}}</td>

    </tr>

  </tbody>
</table>
<div *ngIf="this.service.orderDetails.userOrders" class="text-center">
  <h5>{{this.service.orderDetails.userOrders[0].orderTotal}} </h5>
</div>
</div>
</div>
</div>
